@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(226 232 240);
  background-image: linear-gradient(to bottom right, #7f8c8d, #d5dbdb);
  font-family: 'Roboto', sans-serif;
}